[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Grace"]
	path = Grace
	url = https://github.com/sen-zhao/grace
	shallow = true
	registered = true
